:root {
  --black: #000;
  --key: #f00;
}

body {
  font-family: 'SF Pro Display', sans-serif;                                              
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000;
  color: #f5f5f7;
}

.title {
  font-size: 26px;
  font-weight: 800;
  color: #f5f5f7;
}

.subtitle {
  font-size: 16px;
  font-weight: 800;
  color: #f5f5f7;
}

img {
  clip-path: circle();
  width: 96px;
}

iframe {
  aspect-ratio: 9 / 16;
}