:root {
  --black: #000;
  --key: #f00;
}

body {
  font-family: 'SF Pro Display', sans-serif;                                              
  margin: 0;
  padding: 0;
  line-height: 1.5;
  height: 100vh;
  background-color: #f5f5f7;
  color: #1d1d1f;
}

#name {
  font-size: 28px;
  font-weight: 800;
  color: #333;
}

#bio {
  font-size: 12px;
  margin-bottom: 5px;
}

#header {
  padding-top: 25px;
  padding-bottom: 15px;
}

#header a {
  color: #888;
}

#header a.selected {
  color: #1d1d1f;
}

a {
  text-decoration: none;
  color: inherit;
  margin-right: 5px;
}

.ig-inline {
  color: #0000EE;
  font-weight: bold;
}

#ig {
  float: right;
}

video, img {
  width: 100%;
}

#profile {
}

.container {
  padding: 5px 20px;
}

.content-group {
  padding-bottom: 20px;
}

#footer {
  padding-bottom: 40px;
}

.info {
  background: #e5e5e5;
  padding: 14px;
  font-size: 14px;
  border-radius: 4px;
  color: #000000;
  margin: 0px 14px;
}

.emphasis {
  font-weight: bold;
}

.divider {
  text-align: center;
}